<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="static/favicon.ico">

    <title>login to practice</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/login.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="static/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">

      <form class="form-signin" action="{{ url_for('login') }}" method="POST">
        <h2 class="form-signin-heading">Login to practice</h2>
        <label for="username" class="sr-only">username</label>
        <input type="text" name="username" id="username" class="form-control" placeholder="username" required autofocus><br/>
        <label for="password" class="sr-only">password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="password" required><br/>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="remember" value="remember-me"> Remember me
          </label>
        </div><br/>
        <button class="btn btn-lg btn-inverse btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->



<!-- /Paypal -->
<div class="container" style="">
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post"  class="form-signin">
    <input type="hidden" name="business" value="Coding_Scales@gmail.com">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="item_name" value="Coding Sales Typing Tutuor">
    <input type="hidden" name="amount" value="1.99">
    <input type="hidden" name="currency_code" value="USD">
    <input type="hidden" name="return" value="http://{{hosttoserve}}/success/">
    <input type="hidden" name="cancel_return" value="http://{{hosttoserve}}">
    <input type="image" name="submit" border="0" src="static/paypal.jpg" style="width:280px;height:55px;">
 </form>
</div>


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
